

.square1 {
    width: 100px;
    height: 20px;
    background-color: papayawhip;
}

.square2 {
    width: 40px;
    height: 20px;
    background-color: papayawhip;
}

.square3 {
    width: 20px;
    height: 20px;
    background-color: papayawhip;
}

.row {
    margin-bottom: 10px;
}




.container {
    width: 100%;
   
}

.my-panel {
    margin-top: 70px;
}


@media only screen and (max-width: 413px) {
	.graph-container-label,
	.graph-container-graph-content {
		width: 100%;
	}
}

.black-back {
    position: relative;
    z-index: -1;
}
